@model P1DbContext.Models.InventoryProduct

@{
    ViewData["Title"] = "Selected Product";
}

<div>
    @Html.DisplayFor(modelItem => Model.ProductName)
    @ViewBag.selectedProduct.ProductName
</div>