
@{
    ViewData["Title"] = "Selected Product";
}

<body>

    <div class="col-6">
        <div>
            <h2>@ViewBag.selectedProduct.ProductName : $@ViewBag.selectedProduct.Price</h2>
            <p>@ViewBag.selectedProduct.Description</p>
            <form asp-action="AddToCart">
                <input type="hidden" id="productId" name="productId" value=@ViewBag.selectedProduct.ProductId >
                <input type="number" id="quantity" name="quantity" min="0" max="@ViewBag.selectedProduct.NumberProducts"> <!--add max val-->
                <input type="submit" value="Add to Cart">

            </form>

        </div>
    </div>

    <br />
    <br />
    <button class="btn-light"><a class="btn" asp-area="" asp-controller="Main" asp-action="BrowseProducts">Return to Products List</a></button>
</body>



