@{
    ViewData["Title"] = "Home Page";
}

<div>

    <h1>Current User: @ViewBag.currentUser.FirstName @ViewBag.currentUser.LastName</h1>

    <h2>Current Location: @ViewBag.currentLocation.LocationName @ViewBag.currentLocation.LocationId</h2>


    <h3>well we here...</h3>
</div>