@{
    ViewData["Title"] = "Login Page";
}

<body>
    <div class="text-center">
        <h1 class="display-4">Welcome to the Login screen</h1>
        <p>Put some kind of login box here?</p>
    </div>


</body>