@*@model P1DbContext.Models.Customer *@
@model List<P1DbContext.Models.Location>

@{
    ViewData["Title"] = "Login";
}

<div class="text-lg-left">
    <h1 class="display-4">Hello @ViewBag.currentUser.FirstName! Your log-in was successful!</h1>
    <br />
    <h2>Which location would you like to shop at today?</h2>

    <form asp-action="LocationSelected">
        <div class="form-group">
            <select name="stores" id="storeLocation">
                @foreach (var obj in Model)
                {
                    <option value="@obj.LocationId">@obj.LocationName</option>
                }
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="Select" class="btn btn-primary" />
        </div>
    </form>
</div>
